* {
    -fx-font-family: "Segoe UI", sans-serif;
}

.root {
    -fx-background-color: #fafafa;
}

.hbox {
    -fx-background-color: linear-gradient(to bottom, #ffffff, #e6e6e6);
    -fx-padding: 10;
    -fx-border-color: #d0d0d0;
    -fx-border-width: 0 0 1 0;
}

.text {
    -fx-fill: #333333;
}


#canvasPane {
    -fx-background-color: white;
    -fx-border-color: #cccccc;
    -fx-border-width: 1;
    -fx-background-radius: 6;
    -fx-border-radius: 6;
}


.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

#resetButton {
    -fx-background-color: #e74c3c;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 8 18;
    -fx-background-radius: 6;
    -fx-cursor: hand;
}

#resetButton:hover {
    -fx-background-color: #ff6653;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 10, 0, 0, 4);
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-transition: all 0.2s ease-in-out;
}

#resetButton:pressed {
    -fx-background-color: #c0392b;
}

.production-button {
    -fx-pref-height: 180;
    -fx-pref-width: 260;
    -fx-background-color: white;
    -fx-padding: 10 14;
    -fx-border-radius: 3;
}

.production-button:hover {
    -fx-border-color: #6ba8f5;
    -fx-border-radius: 5;
    -fx-border-width: 5;
    -fx-background-radius: 5;
    -fx-padding: 6 14;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 10, 0, 0, 4);
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-transition: all 0.2s ease-in-out;
}

.production-button:pressed {
    -fx-border-color: #0e5cbd;
    -fx-border-radius: 5;
    -fx-padding: 6 14;
    -fx-scale-x: 0.97;
    -fx-scale-y: 0.97;
}

#menuButton {

    -fx-background-color: #75e73c;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 8 18;
    -fx-background-radius: 6;
    -fx-cursor: hand;
}

#menuButton:hover {
    -fx-background-color: #28b803;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 10, 0, 0, 4);
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-transition: all 0.2s ease-in-out;
}

#menuButton:pressed {
    -fx-background-color: #266802;
    -fx-scale-x: 0.97;
    -fx-scale-y: 0.97;
}

.bottomPane {
    -fx-background-color: rgba(115, 119, 119, 0.62);
}

.Canva{
    -fx-background-color: rgb(228, 234, 234);
}

.marker{
    -fx-background-color: rgba(0, 120, 255, 0.9);
    -fx-border-color: rgba(0, 80, 200, 1);
    -fx-border-width: 2;
    -fx-background-radius: 999;
    -fx-border-radius: 999;
    -fx-padding: 0;
    -fx-cursor: hand;
}

.notification-label {
    -fx-background-color: rgba(255, 100, 100, 0.95);
    -fx-text-fill: white;
    -fx-padding: 15px 30px;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 15, 0, 0, 5);
    -fx-border-color: rgba(200, 50, 50, 0.8);
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
}