
.button {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #cccccc;
    -fx-border-width: 1;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 5, 0, 0, 2);
    -fx-padding: 10 20 10 20;
    -fx-alignment: center;
}

.button:hover {
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 10, 0, 0, 4);
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-transition: all 0.2s ease-in-out;
}

.button:pressed {
    -fx-background-color: white;
    -fx-scale-x: 0.97;
    -fx-scale-y: 0.97;
}

.background{
    -fx-background-image: url('/pictures/background.png');
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.title-text {
    -fx-font-size: 30px;
    -fx-fill: white;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.6), 4, 0, 2, 2);
}

.closeButton {
    -fx-cursor: hand;
}

.closeButton:hover {
    -fx-text-fill: red;
}
